@charset "UTF-8";

*{

   body{
    background-image: linear-gradient(pink, rgb(162, 162, 255));
    background-attachment: fixed;


   }
}
main{
    color: black;
    

}
p{
    text-align: justify;
}
h1{
  border-radius: 20px;
  background-color: white;
  box-shadow: 3px 3px 5px;
  padding: 10px;
  

}
